@section Styles {
    <link rel="stylesheet" href="~/css/footer.css" asp-append-version="true" />
}

<footer class="footer">
    <div class="footer-content">
        <p>&copy; 2025 Hackathon. | แบ่งปันความรู้และแรงบันดาลใจทุกวัน ควย</p>
        <div class="footer-links">
            <p>ติดตามเรา <a href="#">About</a> | <a href="#">Contact</a> | <a href="#">Privacy Policy</a></p>
        </div>
    </div>
</footer>
