<div class="main-section">
    <div class="container">
      <div class="card">
        <img src="https://southeastasia.hss.de/fileadmin/user_upload/Projects_HSS/South_East_Asia/pictures/events/2021/Thailand/211204-01-Event-Virtual-Hackathon.jpg" alt="product1">
        <h3>งานที่ 1</h3>
        <button>Join team</button>
      </div>
      <div class="card">
        <img src="https://www.spu.ac.th/fac/informatics/wp-content/uploads/sites/10/2023/12/SPU-AI-Prompt-Mini-Hackathon-07-1-scaled.jpg" alt="product2">
        <h3>Product 2</h3>
        <button>Join team</button>
      </div>
      <div class="card">
        <img src="https://th.bing.com/th/id/R.ae5a6a64b605c1231975af957fc31f70?rik=b%2bucy0JKkjmT1A&riu=http%3a%2f%2fstatic1.squarespace.com%2fstatic%2f5cd8cf71b2cf79a5a237fb49%2f5d145deceba7710001cdc1b4%2f624e8fc0a3318b6caef6a1cd%2f1649315883420%2fThematic%2bInnovation%2b2565.jpeg%3fformat%3d1500w&ehk=DqtAKTnQdJI4%2fxGKFXVyQ3q6Zdy6U6JkfuDLbdHdZ5c%3d&risl=&pid=ImgRaw&r=0" alt="product3">
        <h3>Product 3</h3>
        <button>Join team</button>
      </div>
      <div class="card">
        <img src="https://carlifeway.com/wp-content/uploads/2023/05/Welcome-Home-New-Innovation-San-Parang-PTT-Group-Young-Socialpreneur-Hackathon-3.jpg" alt="product4">
        <h3>Product 4</h3>
        <button>Join team</button>
      </div>
    </div>
  </div>